div.menutren ul.menungang{
    display: flex;
    list-style: none;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

div.menutren{
    background-color: #2FA1B3;
    height: 30px;
    width: 100%;
}

ul.menungang li a{
    color: white;
    text-decoration: none;
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    padding-top:6px;
    padding-right:6px;
    padding-left:6px;
    padding-bottom:6px;
    display: block;
    transition: 0.4s;
}

ul.menungang li a:hover{
    background-color: rgb(36, 120, 133);
}