ul.menungang{
    width: 900px;
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul.menungang li{
    display: inline;
}

.menutren{
    background-color: #2FA1B3;
    height: 30px;
    width: 100%;
}

ul.menungang li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px 6px 6px 6px;
    transition: 0.4s;
    display: inline-block;
}
ul.menungang li a:hover{
    background-color:rgb(31, 103, 114);
}