.bo{
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
}
.bo a .lop1{
    width: 200px;
    height: 200px;
    position:absolute;
}
.bo a .lop2{
    width: 200px;
    height: 200px;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.bo:hover a .lop2{
    opacity: 0.4;
}
.bo a .lop3{
    color: white;
    font-size: 35px;

    position: absolute;
    top: 85px;
    left: 90px;
    opacity: 0.4;
    transform: scale(0);
    transition: 0.4s;
}

.bo:hover a .lop3{
    opacity: 1;
    transform: scale(2);
}