*{margin:0; padding : 0;}

.menutop{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.menutop > ul{
    display: flex;
    list-style:none;
}
.menutop > ul >li{}
.menutop > ul > li a{
    text-decoration: none;
}


._1item{
    height: 40px;
    position: relative;
    line-height: 40px;
}
._1item a.layer1{
    color: rgb(114, 113, 113);
    padding:10px 20px;
}
._1item:hover a.layer1{
    
}
._1item .layer2{
    position: absolute;
    top:40px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    width: 150px;
    background-color: rgb(216, 216, 216);
}
._1item:hover .layer2{
    visibility: visible;
    opacity: 1;
}
._1item .layer2 ul{
    list-style: none;
}
._1item .layer2 ul li{}
._1item .layer2 ul li a{
    display: block;
    width: 150px;
    padding:5px 10px;
    color: black;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}