* { margin : 0; padding: 0; }

.menu {}
.menu ul{
    display: flex;
    list-style: none;        
}
.menu ul li{}
.menu ul li a{
    text-decoration: none;
    font-family: segoe ui light;
    color: rgb(90, 86, 86);
    padding: 10px 20px;
}
.menu ul li a:after{
    content: '/';
    padding-left: 30px;
}
.menu ul li a:hover{}

.nut{
    width: 100px;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color:white;
    text-decoration:none;
    display: block;
    padding: 5px 15px;
  
    background-image: -webkit-linear-gradient(left,#ffcd4a,#f15b26);

}
.nut:hover{
    background:green

}   