* {margin:0; padding: 0;}

.content{
    height: 140px;
    background-image: -webkit-linear-gradient(left,#ec5252,#6e1a52);
}

.content ._3col{
    display: flex;
    width: 1000px;
    margin: auto;
    color: white;
    font-family: segoe ui light;
    padding:10px;
    box-sizing: border-box;
}

._3col ._1col{
    width: 33.33%;
    display: flex;
    padding-top: 10px;

}
._1col .trai{
    width: 15%;
}
._1col .trai .fa{ font-size: 30px;}
._1col .phai{width: 85%}
._1col .phai b{}
._1col .phai p{}

@media(max-width: 992px){
    ._1col .trai .fa{ opacity: 0;}
    ._1col .phai{width: 100%}
    .content ._3col{width: 100%;
    text-align: center;}
}

@media(max-width: 576px){
    .content{
       display: none;
    }
    
}