h1{
    width: 740px;
    margin-left: 250px;
    font-family: segoe ui;
}

hr{
    width: 740px;
    margin-left: 250px;
}

h3{
   margin-left:350px;
   font-family: segoe ui;
   width: 560px;
}

ul{
    margin-left: 320px;
    color: grey;
    font-family: segoe ui;
    font-size: 12px;
    width: 560px;
}
hr.hr2{
    margin-left:340px;
    width: 560px;
}
h2{
    margin-left:340px;
    font-family: segoe ui; 
}

p{
    margin-left:340px;
    width: 560px;
    font-family: segoe ui; 
}

img{
    margin-left:340px;
    width: 560px;
}
