div.to{
    display: flex;
    width: 670px;
    height: 170px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

div.trai img {
    height: 170px;
    width: 250px;
    margin-right: 20px;
}

div.phai p{
    color:grey;
    font-family: segoe ui;
    font-size: 12px;
}